BOT_TOKEN=7791021817:AAFi4qoR1_3t5CHG7fYsNtuVDh9zd-dCvmQ
OWNER_ID=7685184136
MONGO_URL=mongodb+srv://carofo7264:carofo7264@cluster0.s2ptcja.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=SecutrYukki
